/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

/*=================== HEADER ==================*/
header{
    background-color: white;
    padding: 20px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 18px;
    margin: 0;
}


header nav ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

header nav a{
    color: #6b7280;
    text-decoration: none;
    font-size: 18px;
}

header nav a:hover{
    color: #5A67D8;
}

/*============ HERO OVERVIEW ================*/
.overview-hero{
    background-color: #E2E8F0;
    padding: 50px 0;
}

.overview-hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.overview-hero-image img{
    width: 100%;
    max-width: 500px;
}

.learn-about{
    padding: 20px 0;
}

/*================= LEARN ABOUT =================*/
.learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card{
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body{
    padding: 10px;
}

.card-body h3{
    color: #48BB78;
    font-size: 21px;
}

/*============== TESTING ===================*/
.testing{
    background-color: #4A5568;
    color: white;
    padding: 60px 0;
}

.testing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.testing h2{
    margin-top: 0;
}

.testing .cta{
    background-color: #48BB78;
    border-radius: 5px;
    padding: 15px 25px;
}

.testing-desciption{
    max-width: 70%;
}

.testing .cta a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

/*===================== STORIES ===================*/
.stories{
    padding: 60px 0;
}

.stories h2{
    color: #5A67D8;
}

.stories article{
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
}

.stories article img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.article-body h3{
    font-size: 18px;
    margin-top: 0;
}

.article-body a{
    color: #5A67D8;
    font-weight: bold;
    text-decoration: none;
}

/*=================== NEWSLETTER ================*/

.newsletter{
    background-color: #48BB78;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.newsletter form{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.newsletter input{
    padding: 10px;
    font-size: 18px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.newsletter button{
    background-color: #5A67D8;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

/*============== MESSAGE ============*/
.message{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

/* ============= FOOTER =============*/
footer{
    background-color: #4A5568;
    color: white;
    padding: 15px 0;
}